.iframe-model {
  height: calc(92vh - 4px);
}
.transcript-text {
  bottom: calc(0% + 100px);
  right: 45%;
}
.translate-options {
  bottom: 20%;
  left: 2%;
  select {
    width: 220px;
    option {
      color: unset;
    }
  }
}
